# Challenge

Now it's time for a challenge to bring everything together!


In this challenge we're going to add a new column to our dataframe, and then perform some aggregation using that new column.



>The column we create is going to contain a metric called return on assets (ROA). 


>ROA is a business-specific metric which indicates a companies ability to make profit using their available assets.

>**return_on_assets = profit / assets**

Once we've created the new column, we'll aggregate by sector, and find the company with the highest ROA from each sector.

1) Create a new column roa in the f500 dataframe, containing the return on assets metric for each company.


2) Aggregate the data by the sector column, and create a dictionary top_roa_by_sector, with:
            - Dictionary keys with the sector name.
            
            - Dictionary values with the company name with the highest ROA value from that sector.

In [38]:
#Importing the dataset
import pandas as pd
f500 = pd.read_csv("f500.csv")
f500.index.name = None

print(f500.info())
top_roa_by_sector = {}

# Creating a new column in the f500 dataframe
f500["roa"] = f500["profits"] / f500["assets"]
print(f500.info())
#print("\n")
#Aggregating the data

#Finding Unique sectors
unique_sectors = f500["sector"].unique()
#print(unique_sectors)

for c in unique_sectors:
    sectors = f500[f500["sector"] == c]
    sorted_sectors_RoA = sectors.sort_values("roa", ascending = False)
    top_sector_RoA = sorted_sectors_RoA.iloc[0]
    top_sector_RoA_comp_name = top_sector_RoA["company"]
    
    top_roa_by_sector[c] = top_sector_RoA_comp_name
    
#print(sorted_sectors_RoA.head(3))
#print("\n============")
#print(top_sector_RoA)
    
print(top_roa_by_sector)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   revenue_change            498 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(7)
memory usage: 66.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   revenue_change            498 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
 17  roa                       499 non-null    float64
dtypes: float64(4), int64(7), object(7)
memory usage: 70.4+ KB
None
{'Retailing': 'H & M Hennes & Mauritz', 'Energy': 'National Grid', 'Motor Vehicles & Parts': 'Subaru', 'Financials': 'Berkshire Hathaway', 'Technology': 'Accenture', 'Wholesalers': 'McKesson', 'Health Care': 'Gilead Sciences', 'Telecommunications': 'KDDI', 'Engineering & Construction': 'Pacific Construction Group', 'Industrials': '3M', 'Food & Drug Stores': 'Publix Super Markets', 'Aerospace & Defense': 'Lockheed Martin', 'Food, Beverages & Tobacco': 'Philip Morris International', 'Household Products': 'Unilever', 'Transportation': 'Delta Air Lines', 'Materials': 'CRH', 'Chemicals': 'LyondellBasell Industries', 'Media': 'Disney', 'Apparel': 'Nike', 'Hotels, Restaurants & Leisure': 'McDonaldâ€™s', 'Business Services': 'Adecco Group'}

In this mission, we learned how to:

- Select columns, rows and individual items using their integer location.

- Use pd.read_csv() to read CSV files in pandas.

- Work with integer axis labels.

- How to use pandas methods to produce boolean arrays.

- Use boolean operators to combine boolean comparisons to perform more complex analysis.

- Use index labels to align data.

- Use aggregation to perform advanced analysis using loops.



- In the next mission, we'll learn techniques to use when performing data cleaning to prepare a messy data set.